@import "PARTES/variables";
@import "PARTES/header";
@import "PARTES/nav";

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $primario;
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: $blanco;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: $secundario;
    font-family: $fuentePrincipal;

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}