@import "variables";

.nav {
    background-color: $primOscuro;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
        font-family: $fuentePrincipal;
        color: $blanco;
        font-size: 3rem;

        &:hover,
        .activo {
            color: $secundario;
        }
    }
}